:root {
    --img: 50px;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.contribimg {
    width: var(--img);
    height: 50px;
    transition: all .2s ease-in;
}

.contribbtn {
    width: 55px;
    height: 35px;
}

.contrib_thavatar {
    width: 75px;
}

.contrib_thuser {
    width: 200px;
}
